@font-face {
  font-family: 'Montserrat Bold', sans-serif;
  src: url("/src/fonts/montserrat-bold-webfont.woff");
}

@font-face {
  font-family: 'Montserrat Regular', sans-serif;
  src: url("/src/fonts/montserrat-black-webfont.woff");
}